<div class="container-fluid" >
   
    <nav class="navbar navbar-default">
    	<ul class="nav navbar-nav">
    		<li><a href="#!indexusers">Inicio</a></li>
            <li><a href="#!vehicles">Vehículos</a></li>
            <li><a href="#!myvehicles">Mis vehículos</a></li> 
            <li><a href="#!shopping">Mis compras</a></li>
    	</ul>

    	<ul class="nav navbar-nav navbar-right">
             <li><a href="#!updateuser">Actualizar mis datos</a></li>
    		 <li><a href="#" ng-click="logout()">Cerrar sesión</a></li>
    		 <li><a href=""></a></li>
    	
    	</ul> 

    </nav>
  


</div>